#
[client]
default-character-set = utf8mb4

[mysqld]
#关闭名称解析
skip-name-resolve = ON

#开启二进制日志，且指定日志前缀名
log-bin = mysql-bin
#开启二进制日志，不指定server-id会报错
server-id = 1
expire_logs_days = 15

#设置默认的字符集为utf8，新建数据库继承此属性
character_set_server = utf8mb4
collation-server=utf8mb4_unicode_ci

#允许的最大连接数
max_connections = 1024
#默认值1M，控制通信缓冲区的最大长度，SQL语句过大或者语句中含有BLOB或者longblob字段时，默认的缓冲可能不够
max_allowed_packet = 20M
#是否启用查询缓存
query_cache_type = ON
#不缓存大于此大小的结果，默认1M
query_cache_limit = 50M
#定义查询缓存所使用的内存大小
query_cache_size = 512M

#启用慢日志
slow_query_log = ON
#定义慢日志的存放路径
slow-query-log-file = /var/log/mysql/slow.log
#定义大于多少秒的查询纪录慢日志
long_query_time = 5

#设置innodb每表独立的表空间
innodb_file_per_table = 1
#innodb可以使用的数据和索引cashe的总大小，默认128M，对于innodb来说，调大此参数可以极大提高性能
#innodb_buffer_pool_size = 1GB
#innodb buffer pool_size = innodb_buffer_pool_chunk_size * innodb_buffer_pool_instances
#innodb_buffer_pool_chunk_size = 64MB
#innodb buffer pool会分割成多少个instance存储，提高并发性，必须pool_size大于等于1G才生效
#innodb_buffer_pool_instances = 16

#myisam索引的缓存大小
#key_buffer_size = 256M
#保存在内存中的临时表的大小限制，group by操作优化
#tmp_table_size = 512M
#内存表的大小限制
#max_heap_table_size = 512M
