[client]
port          = 3306 
socket        = /var/lib/mysql/mysql.sock
default-character-set = utf8

[mysqld]
# generic configuration options
port        = 3306 
socket      = /var/lib/mysql/mysql.sock
character-set-server = utf8
symbolic-links = 0
bind-address=192.168.40.200
datadir=/data/mysql
                       
#*** network ***
back_log = 512

#skip-networking
max_connections = 3000
max_connect_errors = 30
table_open_cache = 4096

#external-locking 
max_allowed_packet = 32M
max_heap_table_size = 128M
                       
# *** global cache ***
read_buffer_size = 8M
read_rnd_buffer_size = 64M
sort_buffer_size = 16M
join_buffer_size = 16M
                       
# *** thread ***
thread_cache_size = 16
thread_concurrency = 8
thread_stack = 512K
                       
# *** query  cache ***
query_cache_size = 128M
query_cache_limit = 4M
                       
# *** index ***
ft_min_word_len = 8
                       
# memlock 
default-storage-engine = INNODB
transaction_isolation = REPEATABLE-READ
                       
# *** tmp table ***
tmp_table_size = 64M
                       
# *** bin log ***
log-bin=mysql-bin
binlog_cache_size = 4M
binlog_format=mixed
#log_slave_updates #默认没有开启

# *** log level ***
log_warnings
                       
# *** slow query log ***
slow_query_log
long_query_time = 10

# ***  Replication related settings
server-id = 1
#server-id = 2
#read_only

#*** MyISAM Specific options
key_buffer_size = 128M
bulk_insert_buffer_size = 256M
myisam_sort_buffer_size = 256M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1
myisam_recover
                       
# *** INNODB Specific options ***
# skip-innodb
innodb_additional_mem_pool_size = 64M

# 建议设置为系统75%左右
innodb_buffer_pool_size = 12G
innodb_data_file_path = ibdata1:10M:autoextend
innodb_write_io_threads = 4
innodb_read_io_threads = 4
#innodb_force_recovery=1
# Thread_Concurrency[Suggest:0 or CPU Core Counts]
innodb_thread_concurrency = 0
innodb_flush_log_at_trx_commit = 1

#innodb_fast_shutdown
innodb_log_buffer_size = 16M
innodb_log_file_size = 512M
innodb_log_files_in_group = 3
#innodb_log_group_home_dir
innodb_max_dirty_pages_pct = 90
#innodb_flush_method=O_DSYNC
innodb_lock_wait_timeout = 120

#开启独立表空间
innodb_file_per_table=1


# 脏页刷新数量[ 参考--单盘:200, 阵列:2000, SSD:5000, Fusion-IO:50000]
innodb_io_capacity = 200

[mysqldump] 
quick
max_allowed_packet = 32M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 2048M 
sort_buffer_size = 2048M 
read_buffer = 32M 
write_buffer = 32M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit = 10240
[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid
